html
	head
		title BKT-Wetten
		script(type="module", src="js/createBetMain.js")
	body
		p name of teacher:
		input(type="text" id="teacherName")
		p start time:
		input(type="text" id="startTime")
		p minimum bet:
		input(type="text" id="minBet")
		p
		button(id="createButton") create
		p(id="info")