html
	head
		title BKT-Wetten
		script(type="module", src="js/indexMain.js")
	body
		section(id="login")
			h1 Login
			div
				p Username:
				input(id="loginUsernameEntry", type="text")
			div
				p Password:
				input(id="loginPasswordEntry", type="password")
			div
				p
				Button(id="loginButton") Login
			div
				p(id="info")