html
	head
		title BKT-Wetten
		script(type="module", src="js/overviewMain.js")
	body
		section(id="profile")
			h1 Profile
			p(id="overviewProfileId") id
			p(id="overviewProfileName") name
			p(id="overviewProfileRank") rank
			p(id="overviewProfileMoney") money
			Button(id="refreshBetsButton") refresh bets
			p
			Button(id="logoutProfileButton") logout
			p
		section(id="activeBets")
			h1 Active Bets
