html
	head
		title Admin Panel
		script(type="module", src="js/adminPanelMain.js")
	body
        //-do table with mysqlite data here with li td and this shit and with buttons on each row (1row = 1account) with update or delete