html
	head
		title BKT-Wetten
		script(type="module", src="js/indexMain.js")
		link(rel="stylesheet", type="text/css", href="css/all.css")
	body
		section(id="login")
			h1 Login
			div
				p Benutzername:
				input(id="loginUsernameEntry", type="text")
			div
				p Passwort:
				input(id="loginPasswordEntry", type="password")
			div
				p
				Button(id="loginButton") Login
			div
				p Noch keinen Account dann registriere dich
					a(href="/register") hier.
				p(id="info")