html
	head
		title BKT-Wetten
		script(type="module", src="js/overviewMain.js")
		link(rel="stylesheet", type="text/css", href="css/overview.css")
	body
		section(id="profile" class="profile")
			h1 Profil
			p(id="overviewProfileId")
			p(id="overviewProfileName") 
			p(id="overviewProfileRank") 
			p(id="overviewProfileMoney") 
			Button(id="refreshBetsButton") wetten neu laden
			p
			Button(id="statsButton") deine statisik
			p
			Button(id="logoutProfileButton") logout
			p
		section(id="activeBets" class="activeBets")
			h1 Aktive Wetten
