html
	head
		title €Zu€Spät€Wetten€
		script(type="module", src="js/overviewMain.js")
		link(rel="stylesheet", href="css/indexStyle.css")
	body
		section(id="profile")
			h1 Profile
			p(id="overviewProfileName")
			p(id="overviewProfileRank")
			p(id="overviewProfileMoney")
			Button(id="gotoProfileButton") goto profile
			p
			Button(id="logoutProfileButton") logout
			Button(id="refreshBetsButton") refresh bets
		section(id="activeBets")
			h1 Active Bets
