html
	head
		title €Zu€Spät€Wetten€
		script(type="module", src="js/profileMain.js")
	body
		section(id="profile")
			h1 Profile
			p(id="profileName")
			p(id="profileRank")
			Button(id="profileGotoOverviewButton") goto overview
			p
			Button(id="profileLogoutButton") logout