html
	head
		title BKT-Wetten
		script(type="module", src="js/registerMain.js")
	body
		section(id="Register")
			h1 Register
			div
				p Benutzername:
				input(id="registerUsernameEntry", type="text")
			div
				p Passwort:
				input(id="registerPasswordEntry", type="password")
			div
				p
				Button(id="registerButton") Register
			div
				p(id="info")