html
	head
		title BKT-Wetten
		script(type="module", src="js/registerMain.js")
	body
		section(id="Register")
			h1 Register
			p Benutzername und Passwort dürfen keine "/" ";" ":" "." enthalten. 
			//- TODO: oberes p sichtbar hevorheben für benutzer
			div
				p Benutzername:
				input(id="registerUsernameEntry", type="text")
			div
				p Passwort:
				input(id="registerPasswordEntry", type="password")
			div
				p
				Button(id="registerButton") Register